<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=100.0">
    <title>Mashhad</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="city">
            <h1>
                مشهد<span>سیتی</span>
            </h1>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="#" id="home">خانه</a></li>
                <li><a href="#mashhad">درباره مشهد</a></li>
                <li><a href="#">مکان های گردشگری</a></li>
                <li><a href="#">حرم مطهر</a></li>
                <li><a href="#gallery">گالری</a></li>
                <li><a href="#">نظرات</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="welcome">
            <video src="../static/videos/mashhad.mp4" autoplay loop></video>
            <h2>
                <span>به مشهدالرضا</span>
                 شهراسمانی میزبانی خوش امدید...
            </h2>
            <div class="mashhad">
                <span>M</span>
                <span>A</span>
                <span>S</span>
                <span>H</span>
                <span>H</span>
                <span>A</span>
                <span>D</span>
            </div>
        </div>
        <div class="about">
            <img src="../static/image/haram.jpg" alt="">

            <div class="text">
                <h1 id="mashhad">
                    مشهد
                </h1>
                <br>
                <p>مشهد کلان شهری در شمال شرقی ایران و مرکز استان
                    خراسان رضوی است. مشهد دارای 13 منطقه شهری و مساحت شهری ان
                    351 کیلومتر است. مشهد با 3,001,184 تن جمعیت دومین شهر پر جمعیت ایران است. 
                    به واسطه وجود حرم علی بن موسی الرضا هشتمین امام مذهب شیعه 
                    به طور میانگین سالانه پیش از 27 ملیون زائر داخلی و 2 ملیون زائر
                    خارجی پذیرا میشود. 
                </p>
                <br>
                <a href="#">ادامه مطلب</a>
            </div>
        </div>
        <div class="gallery">
            <div class="wrapper">
                <div class="card">
                    <img src="../static/image/city.jpg" alt="">
                </div>
                <div class="card">
                    <img src="../static/image/koohsangi-park-mashhad-3.webp" alt="">
                </div>
                <div class="card">
                    <img src="../static/image/Tomb-of-ferdowsi.webp" alt="">
                </div>
                <div class="card">
                    <img src="../static/image/پارک-خورشید-مشهد.webp" alt="">
                </div>
                <div class="card">
                    <img src="../static/image/haram.jpg" alt="">
                </div>
            </div>
            <h1 id="gallery">
                <span>G</span>
                <span>A</span>
                <span>L</span>
                <span>L</span>
                <span>E</span>
                <span>R</span>
                <span>Y</span>
            </h1>
        </div>
        <div class="new-user">
            <h2>عضویت در MiraDev</h2>
            <div class="in">
                <input type="text" placeholder="ایمیل">
                <button type="submit">عضویت</button>
            </div>
        </div>
    </main>
    <footer>
        <h1>
            🔶مارا در فضای مجازی دنبال کنید🔷
        </h1>
        <div class="link">
            <div class="ins">
                <a href="">
                    <img src="../static/image/instagram.png" alt="">
                </a>
            </div>
            <div class="www">
                <a href="">
                    <img src="../static/image/www.png" alt="">
                </a>
            </div>
            <div class="tel">
                <a href="">
                    <img src="../static/image/telegram.png" alt="">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>